## Company Financial Records

In [1]:
# Import data libraries and dependencies.
import pandas as pd
from pathlib import path

In [7]:
# read CSV for Budget Data

budget_data = pd.read_csv("budget_data.csv")
pd.read_csv("budget_data.csv")

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [15]:
# Check Data is Clean

budget_data.isnull().mean()*100

Date             0.0
Profit/Losses    0.0
dtype: float64

In [41]:
# calculate total number of months included in dataset.

budget_data['Date'].count()

total_months = 86

86

In [259]:
# calculate net total ammount of profit/losses over the entire period

budget_data['Profit/Losses'].sum()


pnl= 38382578

In [92]:
#calculate average change in Profit/Losses over entire period.
#print first & last values, then divide by total months.

budget_data['Profit/Losses'].loc[0]

867884

In [93]:
budget_data['Profit/Losses'].loc[85]

671099

In [256]:
# create variables for equation, and execute.

final_profit = budget_data['Profit/Losses'].loc[85]

first_profit = budget_data['Profit/Losses'].loc[0]


average_change = (final_profit - first_profit) / (total_months - 1)

average_change = round(average_change,2)

print(average_change)

-2315.12

In [176]:
# calculate greatest increase in profits (date and ammount)
#initialize variables by sorting values from highest to lowest PNL

budget_data.sort_values('Profit/Losses')

        Date  Profit/Losses
44  Sep-2013       -1196225
78  Jul-2016       -1163797
73  Feb-2016       -1100387
31  Aug-2012       -1022534
24  Jan-2012        -755566
..       ...            ...
60  Jan-2015        1139715
47  Dec-2013        1150461
27  Apr-2012        1151518
56  Sep-2014        1166643
25  Feb-2012        1170593

[86 rows x 2 columns]

In [178]:
#use sorted values to determine date highest profit.

budget_data.loc[25:44]

        Date  Profit/Losses
25  Feb-2012        1170593
26  Mar-2012         252788
27  Apr-2012        1151518
28  May-2012         817256
29  Jun-2012         570757
30  Jul-2012         506702
31  Aug-2012       -1022534
32  Sep-2012         475062
33  Oct-2012         779976
34  Nov-2012         144175
35  Dec-2012         542494
36  Jan-2013         359333
37  Feb-2013         321469
38  Mar-2013          67780
39  Apr-2013         471435
40  May-2013         565603
41  Jun-2013         872480
42  Jul-2013         789480
43  Aug-2013         999942
44  Sep-2013       -1196225

In [201]:
# calculate greatest increase between the 2 dates.

greatest_increase = (budget_data['Profit/Losses'].loc[25]) - (budget_data['Profit/Losses'].loc[24])

HI_date = ("Feb-2012")

1926159

In [202]:
# calculate greatest decrease in profits.
# use the same method to determine greatest decrease. starting from highest loss

greatest_decrease = (budget_data['Profit/Losses'].loc[44]) - (budget_data['Profit/Losses'].loc[43])

GD_date = ("Sep-2013")

-2196167

In [260]:
print("Financial Analysis")
print("---------------------------")
print("Total Months: " + str(total_months))
print("Total Profit/Losses: $" + str(pnl))
print("Average Change: $" + str(average_change))
print("Greatest Increase In Profits: " + str(HI_date) + "  $" + str(greatest_increase))
print("Greatest Decrease In Profits: " + str(GD_date) + "  $" + str(greatest_decrease))

Financial Analysis
---------------------------
Total Months: 86
Total Profit/Losses: $38382578
Average Change: $-2315.12
Greatest Increase In Profits: Feb-2012  $1926159
Greatest Decrease In Profits: Sep-2013  $-2196167